
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
  width: 100%;
  overflow: hidden;
}

.active {
  color: orange;
}

.news-body {
  padding-right: 25%;
  float: left;
}
.news-nav {
  float:right;
  margin-left: -25%;
}


