<section class="news-body">
  <a ng-href="#/settings">Settings</a>
  <h1>Latest News</h1>

  <article ng-repeat="headline in headlines">
    <h1>{{headline.headline}}</h1>
    <p>{{headline.description}}</p>
    <a ng-href="#/news/{{headline.id}}">view story</a>
  </article>
</section>

<aside class="news-nav">
  <h1>Sports</h1>

  <ul style="" class="news-nav">
    <li ng-repeat="sport in sports | filter:{links.api.news:'!!'}">
      <p data-sport="{{sport.name}}" ng-click="refreshNews($event); activeLink($index)" ng-class="{ 'active': $index == selectedIndex }">
        {{ sport.name }}
      </p>
    </li>
  </ul>
</aside>

