<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">sportsApp</h3>
</div>


<section>
  <h1>Latest News</h1>
  <article ng-repeat="headline in headlines">
    <p>{{headline.title}}</p>
  </article>

  <h1>Categories</h1>
  <ul>
    <li ng-repeat="category in categories">
      <a ng-href="{{category.links.api.news.href}}">
        {{ category.name }}
      </a>
    </li>
  </ul>
</section>

<div><pre>{{categories | json}}</pre></div>
