<section>
  <a ng-href="#/settings">Settings</a>
  <h1>Latest News</h1>

  <article ng-repeat="headline in headlines">
    <h1>{{headline.headline}}</h1>
    <p>{{headline.description}}</p>
    <a ng-href="#/news/{{headline.id}}">view story</a>
  </article>

<!--   <pre>{{headlines | json}}</pre> -->
</section>

<h1>Categories</h1>
<ul>
  <li ng-repeat="category in categories">
    <a ng-href="#/category/{{category.name}}">
      {{ category.name }}
    </a>
  </li>
</ul>


<!-- <div><pre>{{categories | json}}</pre></div> -->
